:root {
  --primary-font-family: "Cormorant Upright", serif;
  --heading-font: "Julius Sans One", sans-serif;
  --cursive-font: "Comforter", cursive;
  --base-color: #faf9f6;
  --second-base-color: #f5eef8;
  --button-base-color: #d5d8dc;
  --secondary-heading: "Raleway", sans-serif;
}
.greetings,
.description {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 30px;
  opacity: 0.8;
}
.heading,
.project-heading {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 60px;
}
.hero {
  background-color: var(--base-color);
}
.social {
  text-align: right;
  margin-right: 50px;
  padding-bottom: 30px;
}
.social-center {
  text-align: center;
  padding: 30px 0;
}
.social a,
.social-center a {
  font-size: 25px;
  color: black;
}

.btn-branding:hover,
.social a :hover,
.social-center a :hover,
.social-contact :hover,
.ex-device:hover {
  color: brown;
}
.social-center a {
  margin: 0 40px;
  background-color: var(--second-base-color);
  padding: 10px 14px;
  border-radius: 50%;
  max-width: 50px;
}
.social-center .fa-instagram {
  margin: 0;
  padding-right: 0;
}
.social .fa-facebook-square,
.fa-instagram {
  padding-right: 30px;
}
.button,
.contact {
  text-align: center;
}
p {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 25px;
  opacity: 0.8;
}
h2,
h4 {
  text-align: center;
  font-family: var(--secondary-heading);
}
footer h2 {
  font-size: 20px;
}
.background {
  background-color: #eaeded;
  height: 660px;
}
.video {
  display: flex;
  justify-content: center;
}
.smaller-font {
  font-size: 20px;
}
.red {
  color: brown;
  font-weight: bold;
}
.blue {
  color: darkblue;
  font-weight: bold;
}
.btn-branding {
  background: var(--button-base-color);
  margin-top: 20px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.weather,
.newsletter {
  max-width: 400px;
}
.project-greet {
  font-family: var(--cursive-font);
  font-size: 30px;
}
.contact-box {
  max-width: 600px;
  margin: auto;
  background-color: white;
  padding: 30px 60px;
}
.contact a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
.me-in-garden {
  text-align: center;
}
.image-me-in-garden {
  max-width: 100px;
}
.keyboard-emoji {
  text-align: center;
  font-size: 50px;
}
.xs-device a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
.ex-device:hover {
  color: brown;
}
@media (max-width: 750px) {
  .greetings {
    font-size: 20px;
  }
  .heading,
  .project-heading {
    font-size: 35px;
  }
  .description {
    font-size: 20px;
    padding: 0 5px;
  }
  .classes {
    font-size: 20px;
  }
}

@media (max-width: 770px) {
  .developer {
    font-size: 22px;
  }
  .mission {
    font-size: 18px;
  }
  .piano {
    font-size: 22px;
    padding-left: 30px;
  }
}
.wrap {
  background-color: #f3f6f6;
  margin: auto;
  max-width: 800px;
}
.me {
  max-width: 120px;
  height: auto;
}
.image-me {
  border-radius: 40px;
}
.me-in-garden {
  max-width: 400px;
  height: auto;
}
.image-me-in-garden {
  border-radius: 10px;
}
@media (max-width: 600px) {
  .image-me-in-garden {
    max-width: 150px;
    padding-bottom: 10px;
  }
  .me-in-garden {
    margin: 0 auto;
  }
}
@media (max-width: 1050px) {
  .weather,
  .newsletter {
    max-width: 300px;
  }
}
@media (max-width: 550px) {
  .project-heading {
    font-size: 25px;
  }
}
