:root {
  --primary-font-family: "Cormorant Upright", serif;
  --heading-font: "Julius Sans One", sans-serif;
  --base-color: #f5eef8;
  --secondary-heading: "Raleway", sans-serif;
}
.greetings,
.description {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 30px;
  opacity: 0.8;
}
.heading {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 60px;
}
.hero {
  background-color: var(--base-color);
}
.social {
  text-align: right;
  margin-right: 50px;
  padding-bottom: 30px;
  font-size: 25px;
}
.fa-facebook-square {
  padding-right: 20px;
}
.button {
  text-align: center;
}
p {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 25px;
  opacity: 0.8;
}
h2 {
  text-align: center;
  font-family: var(--secondary-heading);
}
.background {
  background-color: #eaeded;
  height: 660px;
}
.video {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.smaller-font {
  font-size: 20px;
}
.red {
  color: brown;
  font-weight: bold;
}
.blue {
  color: darkblue;
  font-weight: bold;
}
.btn-branding {
  background: #d7bde1;
  margin-top: 20px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
@media (max-width: 750px) {
  .greetings {
    font-size: 20px;
  }
  .heading {
    font-size: 40px;
  }
  .description {
    font-size: 25px;
  }
  .classes {
    font-size: 20px;
  }
}
@media (max-width: 770px) {
  .developer {
    font-size: 22px;
  }
  .mission {
    font-size: 18px;
  }
  .piano {
    font-size: 22px;
    padding-left: 30px;
  }
}
.wrap {
  background-color: #f3f6f6;
  margin: auto;
  max-width: 800px;
}
.me {
  max-width: 120px;
  height: auto;
}
.image-me {
  border-radius: 40px;
}
.me-in-garden {
  max-width: 400px;
  height: auto;
  padding-left: 150px;
}
.image-me-in-garden {
  border-radius: 10px;
}
